<?xml version="1.0" encoding="UTF-8"?>

<configuration>  
  <system.webServer>
  
    <handlers>  
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />  
    </handlers>
	
	
	<defaultDocument>
		<files>
			<add value="index.js" />
		</files>
	</defaultDocument>  
	
	<rewrite>
		<rules>
		  <rule name="matthew">
			<match url="/*" />
			<action type="Rewrite" url="index.js" />
		  </rule>
		</rules>
    </rewrite>
	
    <directoryBrowse enabled="true" />
	
  </system.webServer>  
</configuration>
  